.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-right {
    justify-self: end;
}
